.MuiContainer-root{
    width: 1000px;

}

.MuiPaper-root{

    padding: 5px;
    font-size: 15px;
}

.mar{
    margin: 20px;
}
hr{
    margin: 20px 0;

}

p{
    margin-top: 10px;
    margin-bottom: 15px;
}