


#mainform > #pcolor{
    font-size: 25px;
}

#main > #form{
    align-items: center;
    font-size: 30px;

    font-weight: bold;
    background-color: #ffff;
}




/*텍스트필드 백그라운드*/
.custom input {
    background-color: #F5F6F7;
    margin-top: 10px;
}

/*select 백그라운드*/
.custom {
    background-color: #F5F6F7;

}

.boxsizing{
    padding-right: 10px;
}

